@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar untuk Slider (Mobile Friendly) */
.hide-scroll::-webkit-scrollbar {
    display: none;
}
.hide-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}